<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th style="width: 120px">Commit hash</th>
            <th>Commit name</th>
            <th>Progress</th>
            <th style="width: 80px">Status</th>
        </tr>
        <% commits.each do |commit| %>
                <tr>
                    <td><%= commit.short_hash %></td>
                    <td><%= link_to commit.description, commit %></td>
                    <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-<%= commit.completion_color %>" style="width: <%= commit.completion_ratio %>%"></div>
                    </div>
                    </td>
                    <td>
                        <% if commit.completion_ratio > 0 %>
                            <span class="glyphicon glyphicon-<%= commit.score_icon %> fa-lg"></span>
                        <% end %>
                    </td>
                </tr>
        <% end %>
        </tbody>
    </table>
</div>