<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th style="width: 120px">Commit hash</th>
            <th>Commit name</th>
            <th>Progress</th>
            <th style="width: 80px">Score</th>
        </tr>
        <% commits.each do |commit| %>
                <tr>
                    <td><%= commit.short_hash %></td>
                    <td><%= link_to 'Add rule types for changing, adding and removing.', commit %></td>
                    <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-<%= commit.completion_color %>" style="width: <%= commit.completion_ratio %>%"></div>
                    </div>
                    </td>
                    <td><span class="badge bg-<%= commit.score_color %>"><%= commit.score %></span></td>
                </tr>
        <% end %>
        </tbody>
    </table>
</div>