<p id="notice"><%= notice %></p>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Captured interactions for <%= link_to @commit.description, @commit.commit_url %> pull request.
        <small><%= @commit.short_hash %></small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Pending requests <small><%= '(Redis offline)' if @redis_down %></small></h3>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Evaluated requests</h3>
                    </div>
                    <%= render partial: "responses/responses", object: @responses %>
                </div>
            </div>
        </div>
    </section>
</div>

