<p id="notice"><%= notice %></p>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Captured interactions for pull request <%= link_to @commit.description, @commit.commit_url %>
        <small><%= @commit.short_hash %></small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Requests for URL: <%= @url.path %></h3>
                    </div>
                    <%= render partial: "responses", object: @responses %>
                </div>
            </div>
        </div>
    </section>
</div>

