<p id="notice"><%= notice %></p>
<div class="container col-md-10 col-md-offset-1">
    <style><%= Diffy::CSS %></style>
        
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Production response</div>
                    <div class="panel-body">
                        <%= Diffy::SplitDiff.new(@response.production, @response.shadow, :format => :html).left.html_safe %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Shadow response</div>
                    <div class="panel-body">
                            <%= Diffy::SplitDiff.new(@response.production, @response.shadow, :format => :html).right.html_safe %>
                    </div>
                </div>
            </div>    
        </div>    
    <div class="panel panel-default">
            <div class="panel-heading">Request <%= @response.request_id %></div>
            <div class="panel-body">
                <div class="well well-lg request"><%= simple_format(@response.request) %></div>
            </div>
    </div>
</div>
<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
