<p id="notice"><%= notice %></p>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Response for <%= @response.url.path %>
        </h1>
        <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Active rules</h3>
                    </div>
                    <%= render partial: "rules/rules", object: @active_rules %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Applied rules</h3>
                    </div>
                    <%= render partial: "comparison_results/results", object: @evaluated_results %>
                </div>
            </div>
        </div>
        <style><%= Diffy::CSS %></style>

        <div class="row">
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Production response</h3>
                    </div>
                    <%= Diffy::SplitDiff.new(@response.production, @response.shadow, :format => :html).left.html_safe %>
                </div>
            </div>

            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Shadow response</h3>
                    </div>
                     <%= Diffy::SplitDiff.new(@response.production, @response.shadow, :format => :html).right.html_safe %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="box wrapped_element">
                    <div class="box-header">
                        <h3 class="box-title">Request <%= @response.request_id %></h3>
                    </div>
                    <%= simple_format(@response.request) %>
                </div>
            </div>
        </div>

    </section>
</div>

