<%= form_for(rule) do |f| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="field">
    <%= f.label :modifier %>
    <%= f.text_field :modifier %>
  </div>

  <div class="field">
    <%= f.label :regex_string %>
    <%= f.text_field :regex_string %>
  </div>

  <%= f.hidden_field :url_id %>
  <%= f.hidden_field :commit_id %>
  <%= f.hidden_field :status %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
