<div class="box-body no-padding">
    <table class="table table-striped">
        <tbody><tr>
            <th>Rule name</th>
            <th>Rule action</th>
            <th>Score modifier</th>
            <th>Regex</th>
            <th><%= link_to 'Add rule', new_rule_path(@response.id), :class => "btn btn-block btn-sm btn-primary" %></th>
        </tr>
        <% rules.each do |rule| %>
            <tr>
                <td class="col-md-2"><%= rule.name %></td>
                <td class="col-md-2"><%= rule.action %></td>
                <td  class="col-md-2"><%= rule.modifier %></td>
                <td><%= rule.regex_string %></td>
                <td class="col-md-2">
                <%= link_to 'Remove', rule_destroy_path(rule),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
            </tr> 
        <% end %>
        </tbody>
    </table>
</div>